<div class="list list-inset login-form">
	<div style="height: 55px">
		<a ui-sref="menu" onclick="$state.go('menu')"><button class="button button-light login-button">Login</button></a>
	</div>
    <label class="item item-input">
    	<!-- <span class="input-label">Username</span> -->
    	<input type="text" placeholder="Username">
    </label>
    <label class="item item-input">
    	<!-- <span class="input-label">Password</span> -->
    	<input type="password" placeholder="Password">
    </label>
</div>