.ui-page-theme-a .ui-btn.login-button {
    margin-bottom: 6px;
    color: #F78F1E !important;
    float: right;
    border: 0px;
    width: 150px !important;
    box-shadow: none !important;
    background-color: transparent;
}
/*.ui-page-theme-a .ui-btn {
    
}*/
.ui-shadow {
    
}
.ui-page-theme-a  .ui-btn:focus {
    box-shadow: none;
}
.ui-page-theme-a .ui-focus {
    box-shadow: none;
}
.ui-page-theme-a .ui-body-inherit {
    border-color: #F78F1E !important;
    margin-bottom: 8px;
    border-width: 1px;
    padding-left: 10px;
    border-radius: 0;
}
.ui-shadow-inset {
    box-shadow: none;
}
.qr-button {
    width: 100%;
    border: 0;
    box-shadow: none;
    margin-bottom: 6px;
    text-shadow: none !important;
    color: #fff !important;
    background-color: rgba(0,0,0,0) !important;
}
a {
    text-decoration: none;
}
.header {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    border-top: 1px solid #ddd;
    background-color: #F78F1E !important;
    color: #fff;
}
.treatment-divs {
    border: 1px solid #ddd;
    padding: 6px;
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 10px;
}
.ui-page-theme-a .ui-checkbox-on::after {
    background-color: #F78F1E;
    border-color: #F78F1E;
    text-shadow: 0px 1px 0px #F78F1E;
}
.treatment-prices {
    right: 10px;
    position: absolute;
    border-left: 1px solid #585f69;
    padding-left: 10px;
    width: 50px;
}
#right-chevron {
    right: 12px;
    position: absolute;
    padding-top: 2px;
    color: #303030;
}
.update {
    position: absolute;
    top: 0px;
    right: 0px;
}